<div class="grid grid-cols-[repeat(auto-fit,minmax(280px,1fr))] gap-[clamp(0.75rem,2vw,1.5rem)] mb-8 flex-1 min-h-0 pb-2">
    <app-stats-card
        title="Wszystkie zadania"
        [value]="todoService.totalCount()"
        icon="format_list_bulleted"
        color="#1565C0"
        bgColor="#E3F2FD">
    </app-stats-card>

    <app-stats-card
        title="Ukończone zadania"
        [value]="todoService.completedCount()"
        icon="check_circle"
        color="#2E7D32"
        bgColor="#E8F5E9">
    </app-stats-card>

    <app-stats-card
        title="Oczekujące zadania"
        [value]="todoService.activeCount()"
        icon="radio_button_unchecked"
        color="#E65100"
        bgColor="#FFF3E0">
    </app-stats-card>
</div>