<mat-sidenav-container class="h-screen bg-gray-50 dark:bg-gray-900 transition-colors duration-300">
      
    <mat-sidenav mode="side" opened class="w-60 bg-brand-500 dark:bg-gray-950 text-white border-r-0 dark:border-r dark:border-outline-dark transition-colors duration-300">
        <app-sidebar></app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content class="flex flex-col">
        <app-header></app-header>
        
        <div class="p-6">
            <app-stats-grid></app-stats-grid>
            
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 items-start">
                
                <div class="lg:col-span-2">
                    <app-todo-list-tailwind></app-todo-list-tailwind>
                </div>
                
                <div class="lg:col-span-1">
                    <app-timeline></app-timeline>
                </div>
                
            </div>
            
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>